ul {
  list-style: none;
}

li {
  margin-left: 5px;
}

h3{
  font-weight: 500;
}

p {
  font-size: 16px;
}

.footer{
  padding: 20px 0;
  // background-color: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  color: #fff;

  & > .container{
    max-width: 1170px;
    margin: auto;
    & .row {
      display: flex;
      flex-wrap: wrap;
    }
    & .justify-content-between {
      justify-content: space-between;
    } 
  }

  &__social-link {
    padding-left: 0;
      & > li > a{
        color: #fff;
        font-size: 25px;
    }
  }

  &__copyright{
      text-align: center;
  }

}
@media screen and(max-width:819px){
  .footer{
      &__item{
          list-style: none;
          margin-top: 10px;
      }
  }
  
}